:root{
  --mainColor: #3091a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container{
  padding: 20px;
}

.logo{
  font-size: 30px;
  color: white;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  left: 30px;
  opacity: 0;
  transition: all 0.5s;
}

nav.isSticky{ /* specificity */
  border-radius: 0;
}

nav.isSticky .logo{
  opacity: 1;
}







